textarea {
    min-height: 400px;
}

.read {
    background-color: rgb(155, 153, 153);
    margin: 2px;
}

.not-read {
    background-color: white;
    margin: 2px;
}

.btn-danger {
    position: relative;
    left: 100%;
}


.btn-success {
    position: relative;
    left: 100%;
}