@keyframes evidence {
    from {
        background-color: rgb(237, 235, 235);
    }
    to {
        background-color: rgb(190, 190, 190);
    }
}



textarea {
    min-height: 400px;
}

.read {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 20px;
    border-collapse: collapse;
    background-color: rgb(237, 235, 235);

    border: 1px solid;
    border-radius: 0.2rem;
}

.read:hover {
    background-color: rgb(190, 190, 190);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.148);
    cursor: pointer;
    animation: evidence;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.not-read {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 20px;
    border-collapse: collapse;
    background-color: transparent;
    border: 1px solid;
    border-radius: 0.2rem;
}

.not-read:hover {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.148);
    cursor: pointer;
}

.btn-danger {
    position: relative;
    left: 80%;
    margin: 84px;
}

.btn-success {
    position: relative;
    left: 80%;
    margin: 84px;
}

#send-mail {
    margin: 5px;
}

#timestamp {
    color: #6c757d; 
}